* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #8A2BE2;
  --brand-color-second: #D24074;
  --dark: #000;
  --dark--10: #121212;
}

@media screen and (min-width: 768px) {
  /* UTILITIES */
  .button {
    gap: 16px;
    padding: 16px 42px;
  }
  /* MENU */
  .menu__hamburger {
    display: none;
  }

  .menu__items {
    display: flex;
    gap: 62px;
    height: auto;
    visibility: visible;
    position: unset;
  }

  .menu__link {
    border: 0;
    position: relative;
  }

  .menu__link::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--brand-color);

    position: absolute;
    bottom: 1rem;
    left: 0;
    transition: .3s;
  }

  .menu__link:hover::after {
    width: 70%;
  }

  /* INTRODUCTION */
  .introduction {
    padding: 50px 0 40px;
    height: calc(100vh - 110px);
    background-image: url(../img/figures-rounded.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;
  }

  .introduction__content {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
  }

  .introduction__title {
    margin: 12px 0;
  }

  .introduction__buttons {
    flex-direction: row;
    margin-top: 60px;
  }

  /* ABOUT */
  .about {
    padding: 40px 0;
    height: 100vh;
  }

  .about .flex {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .about__photo {
    display: block;
    flex: 1 0 0;
  }

  .about__content {
    flex: 1 0 0;
  }

  .about__address {
    margin: 40px 0 21px;
  }

  .about__buttons {
    display: flex;
    gap: 48px;
  }

  .about__buttons .button--purple {
    display: flex;
    flex: 1 0 0;
  }

  .about__buttons .button--crimson {
    display: flex;
    flex: 1 0 0;
  }




}