* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #8A2BE2;
  --brand-color-second: #D24074;
  --dark: #000;
  --dark--10: #121212;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark--10);
}

/* CSS UTILITIES */

.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1080px;
  }
}

/* CSS UTILITIES */

.header {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: baseline;

  background-color: var(--dark--10);
} 

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.header__brand {
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(1.8rem, 2.5vw, 2.4rem);
  color: var(--brand-color);
}

/* NAVBAR HEADER */

.menu__hamburger {
  display: flex;
  flex-direction: column;

  padding: .5rem 1rem;
  border: 0;

  background-color: unset;
  cursor: pointer;

  transition: .4s ease;
}

.menu__hamburger-lines {
  color: #fff;
  border-top: 2px solid;
  width: 30px;
  margin-top: 5px;
}

.menu__hamburger-lines::after,
.menu__hamburger-lines::before {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

.menu__items {
  display: block;
  width: 100%;
  height: 0;
  list-style: none;
  
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 2;
  visibility: hidden;
  overflow: hidden;
  
  transition: .4s ease;

  background-color: var(--dark--10);
}

.menu__link {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.8rem;
  color: #fff;
  padding: 1.5rem 0;

  display: block;

  border-bottom: 2px solid #892be270;
}

.menu__link:active {
  background-color: #892be270;
}

/* STATES MENU */
.menu.active .menu__items {
  visibility: visible;
  height: calc(100vh - 130px);
  overflow-x: auto;
}

.menu.active .menu__hamburger-lines {
  color: #8A2BE2;
}

.menu.active .menu__hamburger-lines {
  border-top-color: transparent;
}

.menu.active .menu__hamburger-lines::before {
  transform: rotate(135deg);
}

.menu.active .menu__hamburger-lines::after {
  transform: rotate(-135deg);
  top: -7px;
}


