* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #8A2BE2;
  --brand-color-second: #D24074;
  --dark: #000;
  --dark--10: #121212;
  --dark--20: #151515;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark--10);
}

a {
  text-decoration: none;

}

/* CSS UTILITIES */

.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1080px;
  }
}

.title__section {
  font-size: 2.4rem;
  color: #fff;
  max-width: max-content;
  position: relative;
}

.title__section::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 40%;
  height: 5px;
  background-color: var(--brand-color);
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-semi-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.button {
  color: #fff;
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
  border: 1px solid;
  border-radius: 4px;
  padding: 14px 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  transition: all .3s ease;
}

.button--crimson {
  border-color: var(--brand-color-second);
}

.button--crimson:is(:hover, :active) {
  background-color: var(--brand-color-second);
}

.button--purple {
  border-color: var(--brand-color);
}

.button--purple:is(:hover, :active) {
  background-color: var(--brand-color);
}

i.bi {
  font-size: clamp(1.8rem, 2.5vw, 2.2rem);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 16em;
  }
}

@keyframes blinkCursor {
  from {
    border-right:1px solid var(--brand-color);
  }
  to {
    border-right-color: transparent;
  }
}
/* END CSS UTILITIES */

.header {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: baseline;

  background-color: var(--dark);
} 

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.header__brand {
  text-decoration: none;
  font-size: clamp(1.8rem, 2.5vw, 2.4rem);
  color: var(--brand-color);
}

/* NAVBAR HEADER */

.menu__hamburger {
  display: flex;
  flex-direction: column;

  padding: .5rem 1rem;
  border: 0;

  background-color: unset;
  cursor: pointer;

  transition: .4s ease;
}

.menu__hamburger-lines {
  color: #fff;
  border-top: 2px solid;
  width: 30px;
  margin-top: 5px;
}

.menu__hamburger-lines::after,
.menu__hamburger-lines::before {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

.menu__items {
  background-color: var(--dark--10);
  display: block;
  width: 100%;
  height: 0;
  list-style: none;
  
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 2;
  visibility: hidden;
  overflow: hidden;
  
  transition: .4s ease;

}

.menu__link {
  text-decoration: none;
  font-size: clamp(1.8rem, 2.5vw, 2rem);
  color: #fff;
  padding: 1.5rem 0;

  display: block;

  border-bottom: 2px solid #892be270;
}

.menu__link:active {
  background-color: #892be270;
}

/* STATES MENU */
.menu.active .menu__items {
  visibility: visible;
  height: calc(100vh - 130px);
  overflow-x: auto;
}

.menu.active .menu__hamburger-lines {
  color: #8A2BE2;
}

.menu.active .menu__hamburger-lines {
  border-top-color: transparent;
}

.menu.active .menu__hamburger-lines::before {
  transform: rotate(135deg);
}

.menu.active .menu__hamburger-lines::after {
  transform: rotate(-135deg);
  top: -7px;
}

/* INTRODUCTION */
.introduction {
  padding: 30px 0;
  background-color: var(--dark--10);
}

.introduction .container {
  height: 100%;
}

.introduction__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.introduction__text {
  color: #fff;
  font-size: clamp(1.6rem, 2.5vw, 2.4rem);
}

.introduction__title {
  color: var(--brand-color);
  font-size: clamp(3.2rem, 4.5vw, 6.4rem);
  margin: 8px 0;
  max-width: max-content;
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor 500ms steps(40) infinite normal,
  typing 4s steps(40) 1s infinite both;
}

.introduction__buttons {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

/* ABOUT */
.about {
  padding: 40px 0 30px;
  background-color: var(--dark--20);
}

.about .container {
  height: 100%;
}

.about__photo {
  display: none;
}

.about__photo img {
  max-width: 100%;
}

.about__address {
  color: #fff;
  font-size: clamp(1.6rem, 1.5vw, 2rem);

  margin: 16px 0 8px;
}

.about__description {
  color: #C4C4C4;
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
  line-height: 170%;
}

.about__socials {
  display: flex;
  gap: 36px;
  margin: 32px 0;
}

.about__socials i {
  color: var(--brand-color);
  font-size: clamp(2.4rem, 3.5vw, 3.2rem);

  transition: all .3s ease;
}

.about__socials i:is(:hover, :active) {
  color: var(--brand-color-second);
}

.about__buttons .button--purple {
  display: none;
}

/* EXPERIENCE */
.experience {
  padding: 40px 0;
  background-color: var(--dark--10);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience .container.grid {
  max-width: 100%;
  padding-left: 5%;
  display: grid;
  grid-template-columns: 1fr;
}

.works {
  display: flex;
  gap: 8px;
  white-space: nowrap;
  overflow-x: scroll;

  margin-top: 24px;
  padding: 0 0 32px;
}

.works::-webkit-scrollbar {
	height: 6px;
}

.works::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.works__item {
  display: inline-block;
  padding: 12px 30px;
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
  color: #c4c4c4;
  list-style: none;
}

.works__item.active {
  background-color: var(--dark--20);
  color: #fff;
  position: relative;
}

.works__item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 100%;
  background-color: var(--brand-color);
}

.works-info {
  padding: 0 5% 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.works-info__occupation {
  font-size: clamp(1.6rem, 2vw, 2.4rem);
  color: #fff;
}

.works-info .flex {
  display: flex;
  justify-content: space-between;
}

.works-info__company {
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  line-height: 150%;
  color: var(--brand-color);
}

.works-info__date {
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
  line-height: 160%;
  color: #fff;
}

.works-info__description {
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
  line-height: 150%;
  color: #c4c4c4;
}
